<h3>Scorecard for <%= course.name %> (<%= course.version%>)</h3>

<table class="table-card">

<%# course.tees.each do |tee| %>

    <% tee = course.tees.first %>

    <% if !tee.par_str.empty? %>
        
        <!-- TITLE -->
        <tr>
            <td colspan="99" class="scorecard-title <%= tee.teebox.downcase %>"><%= tee.teebox %> tees</td>
        </tr>    

        <!-- HOLE NUM -->
        <tr>
            <%= render partial: 'row_data_inputs', 
                locals: {tee: tee, zone: "par_str", label: "", mode: "hole_num"} %>
        </tr>

        <!-- PAR -->
        <tr>
            <%= render partial: 'row_data_inputs', 
                locals: {tee: tee, zone: "par_str", label: "Par", mode: "total", limit: 1} %>
        </tr>

        <!-- STROKE -->
        <tr>
            <%= render partial: 'row_data_inputs', 
                locals: {tee: tee, zone: "stroke_str", label: "Stroke", mode: "no-total", limit: 1} %>
        </tr>

        <!-- DIST -->
        <tr>
            <%= render partial: 'row_data_inputs', 
                locals: {tee: tee, zone: "dist_str", label: "Dist", mode: "total", limit: 99} %>
        </tr>

        <tr></tr>
    <% end %>
    
<%# end %>

</table>
